$lightGray: #F0F0F0;
$blue: #2894FF;
$darkGray: rgb(138, 134, 134);
$red: #FF5151;
$green: #01B468;

.bookDetailHeader, .addBookHeader {
    height: 60px;
    display: flex;
    align-items: center;

    h1 {
        margin: auto;
        font-size: 25px;
        font-weight: 400;
        color: $darkGray;
    }

    a {
        position: fixed;
        font-size: 25px;
        cursor: pointer;
    }

    .backIcon {
        left: 20px;
        color: $darkGray;
    }

    .editIcon {
        right: 20px;
        color: $blue;
    }

    .back {
        margin-left: 20px;
        color: $darkGray;
    }
}

.bookDetailBody, .addBookBody {
    background-color: $lightGray;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bookDetailInputAll, .addBookInputAll {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        width: 90%;

        &:last-child {
            height: 250px;
        }
    }
}

.bookDetailEditAll, .addBookEditAll {
    width: 88vw;

    .btn {
        display: flex;
        justify-content: space-between;

        button {
            outline: none;
            cursor: pointer;
            border: none;
            width: 150px;
            height: 55px;
            border-radius: 30px;
            font-size: 20px;
            color: white;
            background-color: $red;
            opacity: 0.7;

            &:first-child {
                background-color: $darkGray;
            }

            &:last-child {
                background-color: $blue;
            }

            &:hover {
                opacity: 1;
                border: 1px solid black;
            }
        }
    }
}

.alert {
    text-align: center;
    color: red;
    margin-top: -15px;
    margin-bottom: 20px;
}

.hide {
    display: none;
}

@mixin msgBase($color) {
    position: fixed;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    color: $color;
    border: 2px solid $color;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 6px;
    font-weight: 500;
    font-size: 20px;
    top: 30vh;
    left: 50vw;
    margin-left: -100px;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    img {
        width: 50px;
        margin-right: 10px;
    }
}
.alertMsg {
    @include msgBase($darkGray);
}
.successMsg {
    @include msgBase($green);
}
.failMsg {
    @include msgBase($red);
}

.noAlertMsg {
    display: none;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-out-top {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-1000px);
        opacity: 0;
    }
}