$darkGray: rgb(138, 134, 134);

@mixin fieldBase {
  color: $darkGray;
  margin-bottom: 45px;
  background-color: white;
  padding: 20px;
  font-size: 18px;
}
.inputField {
  @include fieldBase;
  border: none;
  width: 90%;
}
.inputArea {
  @include fieldBase;
  border: none;
  width: 90%;
  height: 250px;
  resize: vertical;
}
.fixField {
  @include fieldBase;
}